# Allow access to everything by default
Order Allow,Deny
Allow from all

# prevent files access (in .git folder and sub folder)
RedirectMatch 403 ^.*/\.git/*

# Deny access to sql files
<Files ~ "\.sql$">
    deny from all
</Files>
<Files ~ "README\.md$">
    deny from all
</Files>

# Deny access to git files
<Files ~ "^\.|\/\.">
    deny from all
</Files>
