<script type="x-jquery-tmpl" id="events-light-list-template">
{%if typeof(project) != "undefined" %}
	<a href="?page=projects&showProject=${project.id}" class="list-group-item list-group-item-elli">
{%elif typeof(eventUser) != "undefined" %}
	<a href="?page=user-profile&userID=${eventUser.id}" class="list-group-item list-group-item-elli">
{%elif typeof(appointment) != "undefined" %}
	<a href="?page=appointments&showAppointment=${appointment.id}" class="list-group-item list-group-item-elli">
{%else%}
	<a href="#" class="list-group-item list-group-item-elli">
{%/if%}

	{%if type == "_user_created"%}
		<i class="fa fa-user-plus"></i>
		Utilisateur &quot;${eventUser.fullName}&quot; créé 
		{%if eventUser.id != user.id%}
			par ${user.fullName}
		{%/if%}
	{%elif type == "_user_informations_update"%}
		<i class="fa fa-user"></i>
		Informations de l'utilisateur &quot;${eventUser.fullName}&quot; mises-à-jour 
		{%if eventUser.id != user.id%}
			par ${user.fullName}
		{%/if%}
	{%elif type == "_user_reset_password"%}
		<i class="fa fa-key"></i>
		Réinitialisation du mot-de-passe de l'utilisateur &quot;${eventUser.fullName}&quot; 
		{%if eventUser.id != user.id%}
			par ${user.fullName}
		{%/if%}
	{%elif type == "_user_password_update"%}
		<i class="fa fa-user"></i>
		Mise-à-jour du mot-de-passe de l'utilisateur &quot;${eventUser.fullName}&quot; 
		{%if eventUser.id != user.id%}
			par ${user.fullName}
		{%/if%}

	{%elif type == "_user_new_status_right__blocked"%}
		<i class="fa fa-user-times"></i>
		Utilisateur &quot;${eventUser.fullName}&quot; nouv. status : en pause 
		{%if eventUser.id != user.id%}
			par ${user.fullName}
		{%/if%}
	{%elif type == "_user_new_status_right__user"%}
		<i class="fa fa-user"></i>
		Utilisateur &quot;${eventUser.fullName}&quot; nouv. status : usager 
		{%if eventUser.id != user.id%}
			par ${user.fullName}
		{%/if%}
	{%elif type == "_user_new_status_right__project_manager"%}
		<i class="fa fa-user"></i>
		Utilisateur &quot;${eventUser.fullName}&quot; nouv. status : personnel MTH 
		{%if eventUser.id != user.id%}
			par ${user.fullName}
		{%/if%}
	{%elif type == "_user_new_status_right__admin"%}
		<i class="fa fa-user-md"></i>
		Utilisateur &quot;${eventUser.fullName}&quot; nouv. status : administrateur 
		{%if eventUser.id != user.id%}
			par ${user.fullName}
		{%/if%}
	{%elif type == "_user_new_status_right__inactive"%}
		<i class="fa fa-user-o"></i>
		Utilisateur &quot;${eventUser.fullName}&quot; nouv. status : inactif 
		{%if eventUser.id != user.id%}
			par ${user.fullName}
		{%/if%}
	{%elif type == "_user_new_new_project_in_charge"%}
		<i class="fa fa-thumbs-o-up"></i>
		Utilisateur &quot;${eventUser.fullName}&quot; mis en charge d'une soumission / d'un projet 
		{%if eventUser.id != user.id%}
			par ${user.fullName}
		{%/if%}
	{%elif type == "_user_new_new_project_involved"%}
		<i class="fa fa-thumbs-o-up"></i>
		Utilisateur &quot;${eventUser.fullName}&quot; mis impliqué à un projet 
		{%if eventUser.id != user.id%}
			par ${user.fullName}
		{%/if%}
	{%elif type == "_user_new_remove_project_in_charge"%}
		<i class="fa fa-exclamation-circle"></i>
		Utilisateur &quot;${eventUser.fullName}&quot; enlevé impliqué à un projet 
		{%if eventUser.id != user.id%}
			by ${user.fullName}
		{%/if%}

	{%elif type == "_new_keyword"%}
		<i class="fa fa-pencil-square-o"></i>
		${user.fullName} a ajouté nouv. le mot-clef : ${oldName}
	{%elif type == "_update_keyword"%}
		<i class="fa fa-pencil-square-o"></i>
		${user.fullName} a renommé le mot-clef <i>${oldName}</i> en <i>${newName}</i>
	{%elif type == "_restore_keyword"%}
		<i class="fa fa-check-circle"></i>
		${user.fullName} a re-mis le mot-clef <i>${oldName}</i>
	{%elif type == "_delete_keyword"%}
		<i class="fa fa-times-circle"></i>
		${user.fullName} a supp. le mot-clef <i>${oldName}</i>
	{%elif type == "_new_subkeyword"%}
		<i class="fa fa-pencil-square-o"></i>
		${user.fullName} a ajouté nouv. le sous-mot-clef : ${oldName}
	{%elif type == "_update_subkeyword"%}
		<i class="fa fa-pencil-square-o"></i>
		${user.fullName} a renommé le sous-mot-clef <i>${oldName}</i> en <i>${newName}</i>
	{%elif type == "_restore_subkeyword"%}
		<i class="fa fa-check-circle"></i>
		${user.fullName} a re-mis le sous-mot-clef <i>${oldName}</i>
	{%elif type == "_delete_subkeyword"%}
		<i class="fa fa-times-circle"></i>
		${user.fullName} a supp. le sous-mot-clef <i>${oldName}</i>
	{%elif type == "_new_mth_platform"%}
		<i class="fa fa-pencil-square-o"></i>
		${user.fullName} a ajouté la plateforme : ${oldName}
	{%elif type == "_update_mth_platform"%}
		<i class="fa fa-pencil-square-o"></i>
		${user.fullName} a renommé la plateforme <i>${oldName}</i> en <i>${newName}</i>

	{%elif type == "_project_created"%}
		<i class="fa fa-clock-o"></i>
		Nouv. projet &quot;${project.title}&quot; soumis 
		par ${user.fullName}
	{%elif type == "_project_new_in_charge"%}
		<i class="fa fa-user"></i>
		Le projet &quot;${project.title}&quot; a un nouv. gestionnaire, modif. par ${user.fullName}
	{%elif type == "_project_new_involved"%}
		<i class="fa fa-user"></i>
		Le projet &quot;${project.title}&quot; a de nouv. impliqué(s), modif. par ${user.fullName}
	{%elif type == "_project_remove_in_charge"%}
		<i class="fa fa-user-times"></i>
		Le projet &quot;${project.title}&quot; n'a plus de gestionnaire, modif. par ${user.fullName}
	{%elif type == "_project_set_to_assigned"%}
		<i class="fa fa-check-circle"></i>
		Le projet &quot;${project.title}&quot; est maintenant assigné, modif. par ${user.fullName}
	{%elif type == "_project_set_to_accepted"%}
		<i class="fa fa-check-circle"></i>
		Le projet &quot;${project.title}&quot; est maintenant accépté, modif. par ${user.fullName}
	{%elif type == "_project_set_to_completed"%}
		<i class="fa fa-check-circle"></i>
		Le projet &quot;${project.title}&quot; est maintenant completé, modif. par ${user.fullName}
	{%elif type == "_project_set_to_running"%}
		<i class="fa fa-check-circle"></i>
		Le projet &quot;${project.title}&quot; est maintenant en cours, modif. par ${user.fullName}
	{%elif type == "_project_set_to_archived"%}
		<i class="fa fa-check-circle"></i>
		Le projet &quot;${project.title}&quot; est maintenant archivé, modif. par ${user.fullName}
	{%elif type == "_project_set_to_blocked"%}
		<i class="fa fa-check-circle"></i>
		Le projet &quot;${project.title}&quot; est maintenant en pause, modif. par ${user.fullName}
	{%elif type == "_project_set_to_rejected"%}
		<i class="fa fa-check-circle"></i>
		Le projet &quot;${project.title}&quot; est maintenant rejeté, modif. par ${user.fullName}
    {%elif type == "_project_set_back_to_waiting"%}
		<i class="fa fa-hourglass"></i>
		Le projet &quot;${project.title}&quot; est de retour à &quot;en attente&quot;, modif. par ${user.fullName}
	{%elif type == "_project_set_basic_informations"%}
		<i class="fa fa-info-circle"></i>
		Le projet &quot;${project.title}&quot; informations basiques mises-à-jour par ${user.fullName}

	{%elif type == "_new_appointment"%}
		<i class="fa fa-calendar-plus-o"></i>
		Nouv. demande RDV sur proj. &quot;${appointment.project}&quot; soumis 
		par ${appointment.fromUser} pour ${appointment.toUser}
	{%elif type == "_update_appointment"%}
		<i class="fa fa-calendar"></i>
		demande RDV sur proj. &quot;${appointment.project}&quot; soumis 
		par ${appointment.fromUser} pour ${appointment.toUser} MAJ
	{%elif type == "_lock_appointment"%}
		<i class="fa fa-calendar-check-o"></i>
		demande RDV sur proj. &quot;${appointment.project}&quot; soumis 
		par ${appointment.fromUser} pour ${appointment.toUser} bloqué
	{%elif type == "_fail_appointment"%}
		<i class="fa fa-calendar-times-o"></i>
		demande RDV sur proj. &quot;${appointment.project}&quot; soumis 
		par ${appointment.fromUser} pour ${appointment.toUser} échoué

	{%/if%}
	<span class="pull-right text-muted small" data-toggle="tooltip" data-placement="top" title="${toogleDate}">
		{%if nbYearsAgo != 0 && nbMonthsAgo > 23 %}
			<em>il y a ${nbYearsAgo} ans</em>
		{%elif nbMonthsAgo != 0 && nbWeeksAgo > 10 %}
			<em>il y a ${nbMonthsAgo} mois</em>
		{%elif nbWeeksAgo != 0 && nbDaysAgo > 13 %}
			<em>il y a ${nbWeeksAgo} semaines</em>
		{%elif nbDaysAgo > 1  %}
			<em>il y a ${nbDaysAgo} jours</em>
		{%elif nbDaysAgo == 1 && nbHoursAgo > 23 %}
			<em>il y a un jour</em>
		{%elif nbHoursAgo > 1 %}
			<em>il y a ${nbHoursAgo} heures</em>
		{%elif nbHoursAgo == 1 %}
			<em>il y a une heure</em>
		{%elif nbMinutsAgo > 1 %}
			<em>il y a ${nbMinutsAgo} minutes</em>
		{%elif nbMinutsAgo == 1 %}
			<em>il y a une minute</em>
		{%else%}
			<em>il y a moins d'une minute</em>
		{%/if%}
	</span>
</a>
</script>